{{link-to "reddit.com" "application" id="header-img" class="default-header"}}

<ul class="tabmenu">
	<li>{{link-to "hot" "index"}}</li>
	<li>{{link-to "new" "sort" "new"}}</li>
	<li>{{link-to "rising" "sort" "rising"}}</li>
	<li>{{link-to "controversial" "sort" "controversial"}}</li>
	<li>{{link-to "top" "sort" "top"}}</li>
	<li>{{link-to "gilded" "sort" "gilded"}}</li>
</ul>