<span class="pagename selected">
	{{user}}
</span>
<ul class="tabmenu">
	<li>{{link-to "overview" "user.index" user}}</li>
	<li>{{link-to "comments" "user.comments" user}}</li>
	<li>{{link-to "submitted" "user.submitted" user}}</li>
	<li>{{link-to "gilded" "user.gilded" user }}</li>
</ul>