<span class="pagename selected">
	{{user}}
</span>
<ul class="tabmenu">
	<li>{{link-to "overview" "user.index" user}}</li>
	<li>{{link-to "comments" "subreddit.sort" user}}</li>
	<li>{{link-to "submitted" "subreddit.sort" user}}</li>
	<li>{{link-to "gilded" "subreddit.sort" user }}</li>
</ul>